@use 'variables' as *;

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center; 
  text-align: center;     
  padding: 6.25rem 1.25rem 3.75rem 1.25rem; 
  background: transparent; /* Сделали фон секции полностью прозрачным */
  width: 100%;
  
  h1 { 
    font-size: 2.625rem; 
    margin-bottom: 1.25rem; 
    color: #fff; 
    max-width: 45rem;    
    width: 100%;
  }
  
  p { 
    font-size: 1.125rem; 
    color: #a0a6a1;
    max-width: 35rem;    
    width: 100%;
  }
}
