$bg-main: #121613;       
$bg-card: rgba(26, 33, 28, 0.9); 
$border-color: #2d3b32;  
$color-text: #e4e6e4;    
$color-brand: #cc1111;   
$color-max: #7B2CBF;     
$color-max-hover: #5A189A;

.hidden {
  display: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html, body, button, a, span, h1, h2, h3, p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('../../public/bg.png'); // Жесткий путь к крутому PNG-фону
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-color: $bg-main;
  color: $color-text;
  font-size: 1rem; 
}

#main-page, #product-page {
  flex: 1;
}
